    body {
      background-color: white;
      font-family: 'Times New Roman', Times, serif, sans-serif;
      margin: 0;
      padding: 0;
    }

    .madimi-one-regular {
      font-family: "Madimi One", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .img-container {
      position: relative;
      text-align: center;
      color: white;
    }

    .image-text {
      font-family: "Madimi One";
      font-size: 90px;
      text-transform: uppercase;
      top: 340px;
      left: 1100px;
      position: absolute;
      color: white;
      animation: fadeIn 1s ease-in-out;
    }

    .image-text2 {
      font-family: "Madimi One";
      font-size: 90px;
      text-transform: uppercase;
      top: 460px;
      left: 1500px;
      position: absolute;
      color: white;
      animation: fadeIn 1s ease-in-out;
    }

    .background-img {
      width: 100%;
      height: 1000px;
      z-index: -1;
    }

    .status {
      color: #617cac;
      font-weight: bold;
      transition: color 0.3s ease-in-out;
    }

    .roommate-button:hover .status {
      color: #1851ba;
    }

    .divider {
      width: 100%;
      height: 2px;
      background-color: #464e74;
      margin: 20px 0;
    }

    nav {
      background-color: #444;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    h2 {
      width: 100%;
      text-align: center;
      font-size: 30px;
      color: black;
      font-family: "Madimi One";
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 150px;
    }

    section {
      padding: 20px;
    }

    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    main {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 20px;
    }

    .roommate-button {
      background-color: #fff;
      border: 2px solid #ddd;
      border-radius: 15px;
      font-size: 18px;
      padding: 20px;
      margin: 20px;
      width: 400px;
      height: 200px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .roommate-button:hover {
      transform: scale(1.05);
      border-color: #617cac;
    }

    .roommate-button h3 {
      color: #333;
      margin-bottom: 10px;
    }

    .status {
      color: #617cac;
      font-weight: bold;
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #ddd;
      margin: 20px 0;
    }

    .status {
      color: #617cac;
      font-weight: bold;
    }

    .home {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 100px;
      top: 1240px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .away {
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      left: 100px;
      top: 1308px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .home:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .away:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .home2 {
      font-weight: bold;
      font-size: 18px;

      position: absolute;
      left: 575px;
      top: 1245px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .away2 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 575px;
      top: 1308px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .home2:hover {

      border-color: #617cac;
      background-color: #cee0f4;
    }

    .away2:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .home3 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 1050px;
      top: 1245px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .away3 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 1050px;
      top: 1308px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .home3:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .away3:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .home4 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 1525px;
      top: 1245px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .away4 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 1525px;
      top: 1308px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .home4:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .away4:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }