    body {
      background-color: #464e74;
      font-family: 'Times New Roman', Times, serif, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #464e74;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    nav {
      background-color: #444;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    h2 {
      width: 100%;
      text-align: center;
      color: white;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 150px;
    }

    section {
      padding: 20px;
    }

    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    main {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 20px;
    }

    .roommate-button {
      background-color: #fff;
      border: 2px solid #ddd;
      border-radius: 15px;
      font-size: 18px;
      padding: 20px;
      margin: 20px;
      width: 400px;
      height: 200px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .roommate-button:hover {
      transform: scale(1.05);
      border-color: #617cac;
    }

    .roommate-button h3 {
      color: #333;
      margin-bottom: 10px;
    }

    .status {
      color: #617cac;
      font-weight: bold;
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #ddd;
      margin: 20px 0;
    }

    .status {
      color: #617cac;
      font-weight: bold;
    }

    .add-guest {
      text-align: center;
      margin-top: 20px;
    }


    .add-guest input {
      padding: 10px;
      width: 60%;
      margin-right: 10px;
      border: 2px solid #ddd;
      border-radius: 5px;
    }

    .add-guest button {
      padding: 10px;
      background-color: #617cac;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    .add-guest button:hover {
      background-color: #1851ba;
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #ddd;
      margin: 20px 0;

    }

    .home {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 233px;
      top: 265px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .away {
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      left: 233px;
      top: 323px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .home:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .away:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .home2 {
      font-weight: bold;
      font-size: 18px;

      position: absolute;
      left: 948px;
      top: 265px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .away2 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 948px;
      top: 323px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .home2:hover {

      border-color: #617cac;
      background-color: #cee0f4;
    }

    .away2:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .home3 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 233px;
      top: 545px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .away3 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 233px;
      top: 603px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .home3:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .away3:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .home4 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 948px;
      top: 545px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .away4 {
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      left: 948px;
      top: 603px;
      background-color: #fff;
      border: 2px solid #ddd;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
      cursor: pointer;
    }

    .home4:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }

    .away4:hover {
      border-color: #617cac;
      background-color: #cee0f4;
    }